JWT_SECRET=FIRIS-2026-local-jwt-secret-key-very-long-123456
AI_API_KEY=
AI_SERVER_URL=http://127.0.0.1:8000
DB_URL=jdbc:mysql://localhost:3306/firis?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
DB_USERNAME=root
DB_PASSWORD=
ADMIN_LOGIN_ID=admin
ADMIN_PASSWORD=admin1234
ADMIN_NAME=관리자
WORKER_DEFAULT_PASSWORD=qwe123
